.webGallery {
    user-select: none;

    &__Container {
        position: relative;
        margin-bottom: 5px;

    }
    &__Navigation {
        position: absolute;
        bottom: 10px;
        left: 50%;
        z-index: 3;
        transform: translate(-50%, 0);
    }

    &__PreviewList {
        margin: 0 auto;
    }
}